body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;

  min-width: 1200px;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main_header {
  /*min-height: 57px;*/

  outline: 1px solid black;
}

.main_header_navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main_header_site_navigation {
  padding: 0 73px;
  margin: 0;
  list-style: none;

  display: flex;

  outline: 1px solid black;
}

.main_header_site_navigation a {
  color: #000000;

  outline: 1px solid black;
}

.main_header_site_navigation li {
  width: 20%;

  outline: 1px solid black;
}

.main_header_site_navigation li:nth-child(2) {
  margin-right: 20%;
}

/*.main_header_site_navigation li:nth-child(1) {
  margin-right: 142px;
}

.main_header_site_navigation li:nth-child(2) {
  margin-right: 378px;
}

.main_header_site_navigation li:nth-child(4) {
  margin-left: auto;
}*/

.main_header_site_navigation .disabled {
  pointer-events: none;
  color: #766357;
}

.main_header_site_navigation a:hover
/*.main_header_site_navigation a:focus*/ {
  color: #81b3d2
}

.main_header_site_navigation a:active {
  color: #dadada;
}

.main_intro {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.main_intro_image {
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  padding-top: 76px;
  padding-bottom: 79px;

  outline: 1px solid black;

  /*margin-bottom: 63px;*/
}

.main_intro_text {
  background-color: #ffffff;

  padding-top: 63px;
  padding-bottom: 55px;

  /*margin-bottom: 55px;*/

  outline: 1px solid black;
}

.main_intro_title {
  font-size: 21px;
  font-weight: bold;

  margin-bottom: 30px;

  outline: 1px solid black;
}

.main_intro_promo {
  outline: 1px solid black;
}

/*_*/

.reasons_main {
  background-color: #81b3d2;

  /*margin-bottom: 50px;*/

  display: flex;
  flex-direction: row-reverse;
}

.reasons_main_bridge {
  flex-direction: row;
  /*margin-bottom: 0;*/
}

.reasons_other {
  background-color: #eeeeee;

  padding-top: 50px;
  padding-bottom: 40px;

  /*margin-bottom: 55px;*/

  outline: 1px solid black;
}

.reasons_list {
  padding: 0;
  margin: 0;
  list-style: none;

  outline: 1px solid black;
}

.reasons_main_list {
  padding-top: 49px;
  padding-bottom: 41px;
}

.reasons_other_list {
  display: flex;
  justify-content: space-around;
}

.reasons_item,
.recommendations_item {
  text-align: center;
}

.reasons_photo {
  outline: 1px solid black;
}

.reasons_item {
  outline: 1px solid black;
}

.reasons_item h3,
.recommendations_list h3 {
  font-size: 21px;
  font-weight: bold;
}

.reasons_item_white {
  color: #ffffff;

  padding-right: 48px;
  padding-left: 48px;

  outline: 1px solid black;
}

.reasons_item_black {
  color: #000000;

  padding-right: 66px;
  padding-left: 66px;

  outline: 1px solid black;
}

/*_*/

.recommendations {
  padding-top: 60px;
  padding-bottom: 80px;
  /*не знаю, как отмерить в макете*/

  outline: 1px solid black;
}

.recommendations_list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;

  outline: 1px solid black;
}

.recommendations_item {
  padding-right: 47px;
  padding-left: 47px;

  outline: 1px solid black;
}

/*_*/

.reservation {
  padding-top: 55px;

  outline: 1px solid black;
}

.reservation_container {
  width: 576px;
  margin: 0 auto;

  outline: 1px solid black;
}

.reservation_title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;

  margin-bottom: 30px;

  outline: 1px solid black;
}

.reservation_info {
  line-height: 24px;
  text-align: center;

  margin-bottom: 50px;

  outline: 1px solid black;
}

.reservation_button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.reservation_button_brown {
  background-color: #766357;

  display: block;
}

.reservation_button_brown:hover
/*.reservation_button:focus*/ {
  background-color: #604e43;
}

.reservation_button_brown:active {
  background-color: #503e33;
  color: #928a85;
}

.reservation_button_blue {
  background-color: #81b3d2;
}

.reservation_button_blue:hover
/*.reservation_button_brown:focus*/ {
  background-color: #669ec0;
}

.reservation_button_blue:active {
  background-color: #5496bd;
  color: #91b7d1;
}

.reservation_form {
  box-shadow: 0 0px 15px -5px #000000;
}

.reservation_form label,
.reservation_form input {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.reservation_form input,
.reservation_form button[type="button"] {
  background-color: #f2f2f2;
  border: none;
}

.reservation_form input {
  border: 1px solid transparent;
}

.reservation_form button[type="button"] {
  color: #a9a9a9;
}

.reservation_form input:hover{
  background-color: #ebebeb;
}

.reservation_form button[type="button"]:hover
/*.reservation_form button[type="button"]:focus*/ {
  color: #000000;
}

.reservation_form input:focus{
  background-color: #ffffff;
  border-color: #e5e5e5;
} /*всё равно цвет остается по умолчанию*/

.reservation_form button[type="button"]:active {
  color: #81b3d2;
}

.reservation_form_amount {
  text-align: center;
}

/*__________*/

.hotel_search {
  color: #ffffff;
  background-color: #81b3d3;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  padding: 32px 72px;

  outline: 1px solid black;
 }

 .hotel_search h3 {
   font-size: 16px;
   font-weight: bold;
 }

 .hotel_search_position {
   display: flex;
 }

 .hotel_search_infrastructure {
   width: 180px;
   margin-right: 74px;

   outline: 1px solid black;
}

.hotel_search_housing {
  width: 180px;

  outline: 1px solid black;
}

 .hotel_search_prise {
   width: 318px;
   margin-left: auto;

   outline: 1px solid black;
 }

 .hotel_search_infrastructure ul,
 .hotel_search_housing ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .hotel_button {
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
   color: #ffffff;
   text-align: center;
   vertical-align: middle;
   text-transform: uppercase;
   border: none;
 }

 .hotel_search_button {
   background-color : rgba(0, 0, 0, 0);
   border: 2px solid #ffffff;
 }

 .hotel_search_button:hover{
   color: #000000;
   background-color: #ffffff;
 }

 /*_*/

 .sorting {
   font-size: 12px;
   line-height: 18px;

   padding-top: 30px;
   padding-right: 72px;
   padding-bottom: 35px;
   padding-left: 72px; /*71*/

   outline: 1px solid black;
 }

 .sorting_position {
   display: flex;
 }

.sorting_result {
  /*width: 117px;*/
  margin-right: 48px;

  outline: 1px solid black;
 }

 .sorting_options {
   /*display: flex;*/
   width: 354px;

   outline: 1px solid black;
 }

 .sorting_order {
   margin-left: auto;

   outline: 1px solid black;
 }

 .sorting span {
   color: #000000;
 }

 .sorting_result {
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
 }

 .sorting ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .sorting_list a {
   color: #dadada;
   border-bottom: 1px dotted #81b3d2;
 }

 .sorting_list a:hover {
   color: #81b3d2;
 }

 .sorting_list a:active {
   color: #000000;
   border-bottom: none;
 }

 .sorting_list a.active {
   /*pointer-events: none;*/
   color: #bad3e5;
   border-bottom: none;
 }

.sorting_list a.active,
.sorting_list a.active:hover,
.sorting_list a.active:active {
  /*pointer-events: none;*/
  color: #bad3e5;
  border-bottom: none;
}

/*_*/

.hotel {
  padding: 30px 72px;

  outline: 1px solid black;
}

.hotel_amara,
.hotel_desert,
.hotel_villas {
  display: flex;

  outline: 1px solid black;
}

.hotel_photo {
  margin-right: 30px;

  outline: 1px solid black;
}

.hotel_about {
  width: 258px;

  outline: 1px solid black;
}

.hotel_about_stars {
  width: 111px;
  margin-left: auto;

  outline: 1px solid black;
}

.hotel_title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel_title:hover {
  color: #81b3d2;
}

.hotel_title:active {
  color: #cacaca;
}

.hotel_button_details{
  background-color: #81b3d2;
}

.hotel_button_details:hover{
  background-color: #669ec0;
}

.hotel_button_details:active{
  background-color: #5496bd;
  color: #94b9d2;
}

.hotel_button_reserve{
  background-color: #766357;
}

.hotel_button_reserve:hover{
  background-color: #604e43;
}

.hotel_button_reserve:active{
  background-color: #503e33;
  color: #827872;
}

.hotel_stars {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.hotel_rating {
  background-color: #f2f2f2;
}

/*__________*/

.main_footer {
  padding: 36px 0px;

  display: flex;
  justify-content: space-around;

  outline: 1px solid black;
}

.main_footer_column {
  width: 400px;
  text-align: center;

  outline: 1px solid black;
}

.main_footer_hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  outline: 1px solid black;
}

/*.main_footer_copyright {
  outline: 1px solid black;
}*/

.main_footer_copyright b {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.main_footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*.main_footer_social {
  outline: 1px solid black;
}*/

.social_button {
  color: #000000;
}
